body{
	background: url("background.png");
	background-size: 100%;
    background-repeat: no-repeat;
    font-family: cursive;
}
* {
	box-sizing: border-box;
}
img { 
    height: 300px;
    width: 300px;
}
.btn {
    
    margin: 5px;
    background-color: black;
    border-color:gray;
}
.gifDiv{ 
    
    float: left;
    margin: 3px;
}
.container {
	background-color: inherit;
	padding: 20px;
}
.jumbotron {
    background-color: inherit;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}
